*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}
.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); /*min 120px at tall , max auto as large as it has to be*/
}

.calculator > button {
  font-size: 2rem;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 10px;
  outline: none;
  background-color: #f7efed;
}

.calculator > button:hover {
  background-color: #33546d;
}
.two-buttons {
  grid-column: span 2;
  background-color: #f1485b;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgb(127, 167, 184);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  grid-column: 1 / -1;
  word-wrap: break-word;
  word-break: break-all;
}

.display .display1 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.display .display2 {
  color: white;
  font-size: 2.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Make the modal appear fixed on the screen */
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure that the modal appears on top of other elements */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 10px;
  border: 4px solid black;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: 300px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7efed;
}

.close {
  padding: 10px;
  background-color: #f1485b;
  border: solid black 2px;
  border-radius: 5px;
  margin: 10px;
}
